




@font-face {
    font-family: manus;
    src: url(../fonts/Manus_Smooth_TRIAL.ttf);
}


@font-face {
    font-family: AppleGaramond;
    src: url(../fonts/AppleGaramond.ttf);
}



html,body
{
width: 100%;  
height: 100%;
    margin: 0px;
        overflow-x: hidden;
    padding: 0px;
    font-family: futura-pt, sans-serif;
}

img{
  width: 100%;
  height: auto;
}

.container{
  padding: 0;
height: 100%;
}

h1{
    font-family: futura-pt, sans-serif;
font-size: 2rem;

}


h2{
font-family: nimbus-sans, sans-serif;
font-weight: 700;
font-size: 1.2rem;
}

h3{
  font-weight: 400;
  font-size: 1.5rem;
}

p{
  font-size: 13pt;
  text-align: justify;
}
button{
  background:transparent;
  border: none;
  color: #fff;
}

button:focus {
  outline:0;
}

a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover{
  text-decoration:underline; 
    color:#ec4e27;
}

a:visited{
  text-decoration: none;
}

input {
    background-color: transparent;
    border: 0px solid;
    height: 20px;
    width: 160px;
    color: #CCC;
}

textarea:focus, input:focus{
    outline: none;
}

#myInput{
  color: white;
}

nav{
  background: #fff;
  height: 80px;
  line-height: 80px;
  box-shadow: 1px 1px 1px rgba(0, 0,0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9998;
  transition: all 0.5s;
}
  .scrollUp{
    transform: translateY(-80px)
  }

.logo{

  width: 80px;
  float: left;
}
.logo img{
  width: 100%;
}

.navbar{float: right;}

.navbar a{
  margin: 0 20px;
}
.header-logo{

  width: 80px;
  height: 17px;
  margin: 0 auto;
background-image: url(../images/logo-blk-sml.png);
}

#navbar h3{

  font-size: 1.2rem;
}


/*for mobile*/


.mobile_title{
  position: relative;
float: right;
margin-right: 30px;
  text-align: center;
}


.mobile-menu{

text-align: center;
display: none;
float: right;
    position: relative;
    width: 50px;
    height: 50px;
           z-index: 10;
       margin-top: 20px;
       float: right;
}

.mobile-menu-icon{
  padding: 5px  4px;
font-size: 1.7rem;
cursor: pointer;
}

#mobile-menu-list{

position: relative;
display: none;
background-color: #fff;
color: white;
width: 100%;
height: 180px;
opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

ul{

 padding: 0;

}

li{
    border-bottom: solid 1px white;
    width: 80%;
    padding: 10px 0;
    margin: 0 auto;
    height: 40px;
    text-align: center;
    letter-spacing: 3px;
}

li:nth-child(4){
border:none;

}

.mobile_intro{
display: none;
background-color: #fff;
margin-top: 180px;
padding: 5px 10px 0;
}

.mobile_intro h1{
  font-size: 15pt;
}
/*end for mobile*/



#homepage {

  background-image: url("../images/cover.jpg");
      background-size: cover;
    height: 100%;
}


.intro_text_box{

  width: 580px;
  margin: 0 auto;
  padding-top: 280px;
  text-align: center;

}

.intro_text{
  padding: 20px 0;
  line-height: 50px;
  background-color: white;
  
}

.intro_text h1 {
  color: black;
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 400;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgba(236,76,39,1); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 4s steps(30, end),
    blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgba(236,76,39,1); }
}

#portfolio {

  background:#F3F3F3;
  padding: 50px 0 80px;
}

#portfolio a:hover{
  text-decoration:underline; 
    color:#333;

}
.thumbnail_wrapper{
  position: relative;
    margin-bottom: 30px;
    cursor: pointer;
}

.thumbnail{

  padding: 0 20px;

}

.thumbnail img{
width: 100%;
}

.hover{
  background-color: #f3f3f3;}


.title{
 display: none;
  padding: 0 20px;
    position: absolute;
    width: 100%;
   bottom:50%;
   text-align: center;
 }

.title h2{
text-transform: uppercase;
margin: 0 auto;
position: relative;
vertical-align: middle;
width: 80%;
}

.footer_wrapper{

  width: 80%;
  margin: 100px auto 50px;
  padding: 0 20px;

}
.footer_wrapper h3{
  line-height: 40px;
}
.footer_wrapper a{

text-decoration: underline;

}

.social_links{

  margin-top: 60px;
  font-size: 1.4rem;
}

.social_links a {
  margin-right: 5px;
}

#mobile-homepage{
  display: none;
  background-image: url(../images/cover.jpg);
  background-size: cover;
      height: 400px;
      margin-top: 65px;
    width: 100%;
}

.close_btn{
      margin: 130px 5%;
    text-align: right;
    font-size: 20pt;
    position: absolute;
}

#project_header{

  min-height: 600px;
    background-size: cover;
    background-position: center;


}

.whoareya_header{
  background-image: url('../images/whoareya.jpg');}

.takeamin_header{
  background-image: url('../images/life2.jpg');
}

.inktober_header{
  background-image: url('../images/inktober1.jpg');
}


.lj_header{
background-image: url('../images/landscapejars_header.jpg');
}


.sally_header{
background-image: url('../images/galaxy.jpg');
}

.adiml_header{
  background-image: url('../images/adiml_cover.jpg');
}

.sb_header{

background-image: url('../images/sbcover.jpg');
}


.vs_header{

background-image: url('../images/vs_header.jpg');
}

.animation_header{
background-image: url('../images/animation_header.jpg');
}


.header_image{max-width: 100%;
height:auto;}

#project_main{

width: 100%;
background-color: #f3f3f3;
  position: relative;
}

.project_container{
  width: 70%;
  margin:0 auto;
      padding: 60px 0 30px;}

.project_intro{
  margin:50px auto;
}

.project_intro h2{
 color:#ec4e27;
}
.project_detail{
margin:0 0 60px;
}
.project_detial h2{
  font-size: 18pt;
  margin-bottom: 20px;
}

.illustration_box{

  width: 50%;
}

.vimeo-box{
    padding:56.25% 0 0 0;
  position:relative;}

.vimeo{

position:absolute;
top:5%;
left:0;

width:100%;
    height: 100%;

}
.next_project_btn{
       margin: 40px auto 0;
    width: 80%;
    text-align: right;
}

.next_project_btn h3{
font-size: 2rem;
font-weight: 300;
}


@media (max-width: 575px){

 .navbar{

  display: none;
 }

.mobile-menu{
  display:inline-block;
}
#homepage{
  display: none;
}
#mobile-homepage{
  display: inline-block;
}

.mobile_intro{display: inline-block;
}
.project_detail{
  margin-bottom: 30px;
}
.project_intro_text {
  margin-top: 15px;
  padding:0;
}

.way_poster{
  margin:15px 0;
  padding: 0;
}
.project_container{
  width: 88%;
}
.project_intro{
  margin: 20px 0;
}
}

@media (min-width: 576px) and (max-width: 767px){
 

}

@media (max-width: 767px){
#project_header{

  min-height: 300px;
      margin-top: 70px;

}
}


@media (min-width: 1025px){

#project_header{
  min-height: 100%;
  background-attachment: fixed;
background-position:center;
  background-repeat: no-repeat;
  }
}


